# https://docs.searxng.org/admin/installation-docker.html
#SEARXNG_VERSION=latest
SEARXNG_SECRET=change-me
SEARXNG_BASE_URL=http://127.0.0.1:8888/
SEARXNG_LIMITER=false
SEARXNG_PUBLIC_INSTANCE=false
FORCE_OWNERSHIP=true
